.NFT-container {
  display: flex;

  background-color: #ffffff;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  border-radius: 12px;
}

.NFT-image-container {
}

.NFT-image {
  cursor: pointer;
  /* object-fit: contain; */
  width: auto;
  height: 73vh;
  margin-left: 3em;
}

.NFT-infoContainer {
  height: 73vh;
  width: 32%;
  margin-right: 6em;
}

.NFT-name {
  font-family: "Open Sans", sans-serif;
  white-space: initial;
  font-style: normal;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #223043;
  text-align: left;
  font-style: normal;
  position: static;
  font-weight: 600;
  font-size: 45px;
  color: #000000;
}

.NFT-name:hover {
  color: #0000ee;
}

.NFT-description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #6d6e76;
  white-space: initial;
  text-align: left;
  min-height: 43px;
  margin-top: 8px;
}
